.ant-form-item{
    margin-bottom: 8px !important;
}
.ant-comment-inner{
    padding: 12px 0 !important;
}

.ant-layout-header{
  margin-bottom: 0 !important;
}

.upload-media{
  width: 100%;
}

.form-tags-all label{
  width: 100px;
}

.ant-tag.bg-primary{
  background-color: #2b39f7;
}

.ant-tag.bg-info{
  background-color: #1be7ff;
}

.ant-tag.bg-dark{
  background-color: #2d3436;
}
